aside {
  --aside-width: 30vh;
  grid-area: aside;
  display: grid;
  grid-template-areas:
    "profilAside"
    "linksAside"
    "underAside";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 100%;
  position: fixed;
  align-content: flex-start;
  justify-content: flex-start;
  width: var(--aside-width);
  transform: translateX(-80%);
  height: 100%;
  background-color: #f5323f;
  transition: all 300ms ease-in-out;
  z-index: 1000;
  border-radius: 2%;
  border: 1px dashed black;
  overflow: hidden;
}

.colapso:hover {
  transform: translateX(-10px);
}

.profilAside {
  grid-area: profilAside;
  display: grid;
  justify-content: flex-end;
  align-content: flex-start;
  border-right: 0px;
  border-top: 0px;
}

#notLogged {
  margin-right: calc(var(--aside-width) * 0.5);
  margin-top: calc(var(--aside-width) * 0.5);
}

#profilname {
  margin-left: calc(var(--aside-width) * 0.15);
  margin-top: 20px;
  margin-bottom: 10px;
  color: #f9be02;
  font-size: 20px;
}

#profilphoto {
  width: calc(var(--aside-width) * 0.5);
  height: calc(var(--aside-width) * 0.5);
  border-radius: 50%;
  border: 3px solid #f9be02;
  margin-right: calc(var(--aside-width) * 0.25);
}

#flechita {
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  color: #f9be02;
}

#midAside {
  grid-area: linksAside;
  display: grid;
  position: relative;
  align-content: start;
  justify-content: start;
}

.linksAside {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: visible;
  list-style: none;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 10%;
}

.linksAside li {
  padding-right: 15%;
  padding-left: 15%;
  background-color: #7cdbd5;
  border-radius: 5px;
  width: calc(var(--aside-width) * 0.6);
  cursor: pointer;
  text-indent: 10px;
}

.asidePath {
  margin-left: 20%;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  z-index: 10;
  text-align: center;
}

.dropDown {
  margin-left: 20%;
  background-color: #f9be02;
  padding-top: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.underAside {
  grid-area: underAside;
  display: grid;
  align-content: stretch;
}

#underQuote {
  margin-left: 25px;
  font-size: 100%;
}

#asideHome {
  background-color: #f5323f;
  border: 0px;
  width: 100%;
  height: 100%;
  color: #f9be02;
  font-size: var(--aside-width) / 20;
  box-shadow: 5px 2px 25px #f9be02 inset;
}
