

.numeritos button {
    width: 17px;
    margin-left: 2px;
    margin-top:37px;
}
.numeritos button:hover {
    transform: translateY(-3px);
}




button {
    background-color: #f9be02;
    border: 0;
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 3px;
}

.antSig {
    display: inline-block;
    margin-bottom: 15px;
}

.antSig button{
    margin: 5px;
}