* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
    grid-template-columns: auto 98% ;
    grid-template-rows: 200px 3fr auto;  
    min-height: 100vh;
    background-color: #F53240;     
}

header {
    display: grid;
    grid-area: header;
    position: relative;
    min-width: 350px;
    text-align: center;
    align-content: center;
    background-color:#7CDBD5 ;
    border-bottom: 1px solid black;
}

#logo {
    width: 120px;
    border-radius: 10%;
    border: 1px solid;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

nav {
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 10px;
    background-color: #7CDBD5;
    border-radius: 5px;
}

.logs {
    border-radius: 2px ; 
}

#logs {
    border: 1px dotted;
    background-color: #F9BE02;
    border-radius: 2px ;
}

nav:hover {
    border-color: #F9BE02;
    animation-name: loginAnimado;
    animation-duration: 0.30s;
    animation-fill-mode: both;
}

@keyframes loginAnimado {
    100% {
            background-color: #F9BE02;
    }

}

main{
    grid-area: main;
    position: relative;
    text-align: center;
    background-color: #02C8A7;
    min-height: 100%;
    padding: 10px;
}



#home {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding: 10%;
    margin-top: 20px; 
}

#feed {
    display: grid;
    margin-top: 50px;
    gap: 20px;
}

#select {
    background-color: #F9BE02;

}

#getIn {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F9BE02;


}
#nuevoArtBoton {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border: 1px dotted;
    background-color: #F9BE02;
    font-size: 20px;
    margin-top: 10px;
    right: 2%;  
}

.nuevoArticulo {
    display: grid;
    background-color: #F9BE02;
    border-radius: 5% ;
    width: 60% ;
    margin-left: 20%; 
    gap: 10px;
    overflow: hidden;
    text-transform: lowercase;
}

.nuevoArticulo::first-letter {
    text-transform: uppercase;

}


#descripcion {
    width: 300px;
    height: 70px;
}

#submit {
    width: 200px;
    margin-left: 200px;
}


aside { 
    grid-area: aside;
    display: grid;
    position: fixed;
    width: 25%;
    transform: translateX(-90%);
    height: 100%;
    background-color:#F53240 ;
    transition: all 300ms ease-in-out;
    z-index: 1;
    border-radius: 2%;
    border: 1px dashed black;
    overflow: hidden;
}

.colapso:hover {
    transform: translateX(-10px);
}

#flechita {
    margin-left: auto;
    margin-top: 50px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}
    

aside ul {
    display: grid;
    position: absolute;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 30vh;
    margin-right: auto;
    list-style: none;
    gap: 100px;
}



footer {
    display: grid;
    grid-area: footer;
    justify-content:space-around;
    align-content: space-around;
    background-color: #F9BE02 ;    
    border-top: 1px dashed black;
}

footer li {
    display: inline-block;
    padding: 10px;
    padding-bottom:5px ;
}

a {
    color:black;
}

.popup {
    position: fixed;
    display: none;
    min-height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
}

#inputArticulo {
    display: grid;
    width: 50%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    justify-content:center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-indent: 20px;
    gap: 3px;
    border: 1px solid black; 
    border-radius: 10px;  
    background-color: #F9BE02 ;
}





